name: Infra + Deploy (EKS/ECR/S3/EC2)

on:
  push:
    branches: ["main"]

permissions:
  contents: read
  id-token: write

env:
  AWS_REGION: eu-north-1
  TF_VERSION: 1.6.6

jobs:
  infra:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: infra

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Configure AWS (OIDC)
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.AWS_ROLE_ARN }}
          aws-region: ${{ env.AWS_REGION }}

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: ${{ env.TF_VERSION }}

      - name: Terraform init
        run: terraform init -input=false

      - name: Terraform validate
        run: terraform validate

      - name: Terraform apply
        run: |
          terraform apply -auto-approve \
            -var="aws_region=${{ env.AWS_REGION }}" \
            -var="name_prefix=ci-eks" \
            -var="app_bucket_name=ci-eks-app-bucket-149916142098" \
            -var="ec2_ami_id=ami-04233b5aecce09244"

      - name: Export Terraform outputs
        run: terraform output -json > ../outputs.json

      - name: Upload outputs
        uses: actions/upload-artifact@v4
        with:
          name: tf-outputs
          path: outputs.json

  deploy:
    runs-on: ubuntu-latest
    needs: infra

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Configure AWS (OIDC)
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.AWS_ROLE_ARN }}
          aws-region: ${{ env.AWS_REGION }}

      - name: Download outputs
        uses: actions/download-artifact@v4
        with:
          name: tf-outputs

      - name: Read outputs
        id: out
        run: |
          echo "ECR_REPO_URL=$(cat outputs.json | jq -r .ecr_repo_url.value)" >> $GITHUB_OUTPUT
          echo "CLUSTER_NAME=$(cat outputs.json | jq -r .cluster_name.value)" >> $GITHUB_OUTPUT

      - name: Login to ECR
        uses: aws-actions/amazon-ecr-login@v2

      - name: Build and push image
        id: img
        run: |
          IMAGE="${{ steps.out.outputs.ECR_REPO_URL }}:${{ github.sha }}"
          docker build -t "$IMAGE" app
          docker push "$IMAGE"
          echo "IMAGE=$IMAGE" >> $GITHUB_OUTPUT

      - name: Setup kubectl
        uses: azure/setup-kubectl@v4
        with:
          version: "v1.29.0"

      - name: Update kubeconfig
        run: |
          aws eks update-kubeconfig \
            --region ${{ env.AWS_REGION }} \
            --name "${{ steps.out.outputs.CLUSTER_NAME }}"

      - name: Deploy to EKS
        run: |
          sed -i "s|REPLACE_IMAGE|${{ steps.img.outputs.IMAGE }}|g" app/k8s/deployment.yaml
          kubectl apply -f app/k8s/deployment.yaml
          kubectl apply -f app/k8s/service.yaml
          kubectl rollout status deployment/web
